.App {
  text-align: center;
  /* margin: 0 auto; */
}
body {
  text-align: center;
  font-family: 'Helvetica';
  background-color: #a4bef3;
}

h1 {
  font-weight: 500;
  font-size: 45px;
  font-family: 'Helvetica';
}
